body {
  .section_1 {
    background-color: #222222;
    transition: all 0.5s ease;
    .section_1_container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 92px 0px 132px 0px;

      .section_1_content {
        width: 100%;
        display: flex;
        justify-content: center;
        .LanguageNav {
          ul {
            display: flex;
            li:not(:last-child) {
              margin-right: 12px;
            }
            li {
              width: 161px;
              // height: 91px;
              height: 91px;
              border-radius: 24px;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: end;
              align-items: center;
              background-color: #455174;
              transition: all 0.5s ease;
              img {
                border: 8px solid #222222;
                border-radius: 50%;
                position: absolute;
                top: -40%;
                transition: all 0.5s ease;
              }
              a {
                margin-bottom: 19px;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 27.2px;
                text-align: left;
                text-decoration: none;
                color: #ffffff;
                transition: all 0.5s ease;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}
